<!doctype html>
<html xmlns:th="http://www.tymeleaf.org" lang="it">

<head>
<title></title>
<meta charset="utf-8">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
	rel="stylesheet">
</head>

<body>

	<h1>Info Utente</h1>

	<h2 th:text="${utente.nome}"></h2> 
	
	<p>lista post: </p>
	<br>
 	<table>
		<tbody>
		
			<tr th:each="p: ${listaPost}">
				<td th:text="${p.titolo}"></td>
				<td th:text="${p.testo}"></td>
				<td th:text="${p.istanteCreazione}"></td>	
			</tr>
		</tbody>
	</table>  
	<br>
	<a href="/utenti/">torna alla home page utenti</a>

</body>

						
							
	
					
			
			
			
			
			</div>


			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</body>

</html>