<!doctype html>
<html xmlns:th="http://www.tymeleaf.org" lang="it">

<head>
<title>Index Utenti</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
	rel="stylesheet">
</head>

<body>

<h1>Faccialibro</h1> 
	
	
	
	<h1>Lista Post</h1>


	<div>
		<tbody>
			<tr th:each="p: ${listaPost}">
			<br>
				<td th:text="${p.titolo}"></td>
				<br>
				<td th:text="${p.testo}"></td>
				<br>
		        <td th:text="${p.istanteCreazione}"></td>
		        <br>
		        
			<a th:href="@{/post/{nomeQualsiasi}/delete(nomeQualsiasi=${p.id})}">
			<button>Cancella post</button>
		    </a>
			
			<br>
			
		
					
			</tr>
		</tbody>
	 </div>
	<br>
	<a href="/post/new"><input type="submit" value="crea post"></a>

		<a href="/utenti/new"><input type="submit" value="crea utente"></a>
</body>

</html>