<!doctype html>
<html xmlns:th="http://www.tymeleaf.org" lang="it">

<head>
<title>Index Utenti</title>
<link rel="stylesheet" href="facciaLibroCSS.css">
</head>

<body>

<h1>Faccialibro</h1> 
	
	
	
	<h1>Lista Post</h1>


	<div>
		<tbody>
			<tr th:each="p: ${listaPost}">
			<br>
				<td th:text="${p.titolo}"></td>
				<br>
				<td th:text="${p.testo}"></td>
				<br>
		        <td th:text="${p.istanteCreazione}"></td>
			<br>
			
			
					
			</tr>
		</tbody>
	 </div>
	<br>
	<a href="/post/new"><input type="submit" value="crea post"></a>

</body>

</html>