<!doctype html>
<html xmlns:th="http://www.tymeleaf.org" lang="it">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
	rel="stylesheet">
</head>
<body>
<body>

	<h1>Lista Utenti</h1>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<table class="table table-hover">

					<thead class="thead thead-dark">
						<tr>
						
							<th>Nome</th>
							<th>Cognome</th>
							<th>Anno di Nascita</th>
							<th>indirizzo Residenza</th>
							<th>numero telefono</th>
							<th>Data Creazione</th>
							<th><a href="/utenti/new"> 
							<i class="fas fa-user-plus"></i></a>
							
	
	
							</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
	
	
	<div> 
		<tbody>
			<tr th:each="u: ${listaUtenti}">
				<td th:text="${u.nome}"></td>
				<td th:text="${u.cognome}"></td>
				<td th:text="${u.annoDiNascita}"></td>
				<td th:text="${u.indirizzoResidenza}"></td>
				<td th:text="${u.numeroTelefono}"></td>
				<td th:text="${u.istanteCreazione}"></td>
				<td><a th:href="${u.id}"> <i class="fas fa-info"></i></a></td> 
		        

			</tr>
		</tbody>
</div>
	

<script
		src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js">
		</script>
</body>

</html>